::-webkit-scrollbar { width: 0;}

body {
	margin: 0px;
	height: 100vh;
	width: 100%;
	background-color: white;
}

header {
	width: 100vw;
	height: 100vh;
	margin: 0px;
}

.TopHeader {
	position: relative;
	width: 100vw;
	height: 100vh;
	margin: 0px;
}

.TopHeader > h1{
	position: absolute;
	margin: 0px;
	width: 17vw;
	height: 5vw;
	left: 45vw;
	top: 0px;
	z-index: 999;
	background: linear-gradient(180deg, #FFC700 0%, #520099 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 4vw;
	line-height: 112px;
	display: flex;
	align-items: center;
	text-align: center;
}

.TopHeader > img{
	position: absolute;
	height: 30vw;
	right: 0vw;
}
.stars {
	position: absolute;
	margin: 0px;
	right: 0vw;
}
.stars img:nth-child(1) {
	position: absolute;
	right: 0px;
	width: 62vw;

}
.stars img:nth-child(2) {
	position: absolute;
	width: 3vw;
	right: 12vw;
	top: 7vw;
}
.shadow-point1 {
	position: absolute;
  	width: 1px;
  	height: 1px;
  	right: 13.55vw;
	top: 8.1vw;
	background-color: white;
	border-radius: 50%;
	animation: shadow 1s infinite alternate;
}
.shadow-point2 {
	position: absolute;
  	width: 1px;
  	height: 1px;
  	right: 59.5vw;
  	top: 1.4vw;
	background-color: white;
	border-radius: 50%;
	animation: shadow 0.8s infinite alternate;
}

.shadow-point3{
	position: absolute;
  	width: 1px;
  	height: 1px;
  	right: 1.1vw;
  	top: 0.8vw;
	border-radius: 30%;
	transform: rotate(45deg);
	animation: shadow_two 1s infinite alternate;
}
.shadow-point4{
	position: absolute;
  	width: 1px;
  	height: 1px;
  	right: 3.4vw;
  	top: 9.5vw;
	border-radius: 30%;
	transform: rotate(45deg);
	animation: shadow_big 3s infinite alternate;
}
.shadow-point5{
	position: absolute;
  	width: 1px;
  	height: 1px;
  	right: 39.6vw;
  	top: 2.19vw;
	border-radius: 30%;
	transform: rotate(45deg);
	animation: shadow_two 2s infinite alternate;
}
.shadow-point6{
	position: absolute;
  	width: 1px;
  	height: 1px;
  	right: 0.95vw;
  	top: 4.5vw;
	border-radius: 30%;
	transform: rotate(45deg);
	animation: shadow_two 2s infinite alternate;
}
.shadow-point7{
	position: absolute;
  	width: 1px;
  	height: 1px;
  	right: 29.75vw;
  	top: 1.25vw;
  	background-color: white;
	border-radius: 30%;
	transform: rotate(45deg);
	animation: shadow_two 2s infinite alternate;
}
.square {
	position: absolute;
	top: 0;
}
.square img:nth-child(1) {
	position: absolute;
	top: 40vw;
	width: 9vw;
	left: 44.5vw;
	transition: 0.9s;
}
.square img:nth-child(2) {
	position: absolute;
	top: 41vw;
	width: 9vw;
	left: 44.5vw;
	transition: 0.5s;
}
.square img:nth-child(3) {
	position: absolute;
	top: 42vw;
	width: 9vw;
	left: 44.5vw;
	transition: 0.3s;
}
.square:hover img:nth-child(1){
	transform: translate(0px, -100px);
    opacity: 1;
}
.square:hover img:nth-child(2){
	transform: translate(0px, -60px);
    opacity: .8;
}
.square:hover img:nth-child(3){
	transform: translate(0px, -30px);
    opacity: .6;
}
.squareblue img:nth-child(1){
	position: absolute;
	width: 5vw;
	top: 6vw;
	left: 3vw;
	animation: square_bounce1 0.7s infinite alternate;
}
.squareblue img:nth-child(2){
	position: absolute;
	width: 5vw;
	top: 5.5vw;
	left: 3vw;
	animation: square_bounce2 0.7s infinite alternate;
}
.squareblue img:nth-child(3){
	position: absolute;
	width: 5vw;
	top: 6.5vw;
	left: 3vw;
	animation: square_bounce3 0.7s infinite alternate;
}
.squareRed img:nth-child(1){
	position: absolute;
	width: 7vw;
	top: 28vw;
	right: 4vw;
	animation: square_bounce2 0.7s infinite alternate;
}
.squareRed img:nth-child(2){
	position: absolute;
	width: 7vw;
	top: 29vw;
	right: 4vw;
	animation: square_bounce1 0.7s infinite alternate;
}
.squareRed img:nth-child(3){
	position: absolute;
	width: 7vw;
	top: 30vw;
	right: 4vw;
	animation: square_bounce3 0.7s infinite alternate;
}
img.cloudL{
	position: absolute;
	width: 12vw;
	right: 30vw;
	animation: cloudL 2s infinite alternate;
}
img.cloudR {
	right: 6vw;
	position: absolute;
	width: 12vw;
	top: 3vw;
	animation: cloudR 1.5s infinite alternate;
}
img.UFO {
	animation: bounce 2s infinite alternate;
}
.chuzhak {
	position: absolute;
	top: 13vw;
	left: 12vw;
	transform: rotate(50deg);
}
.chuzhak img:nth-child(1){
	width: 10vw;
	position: absolute;
	z-index: 18;
	left: 6vw;
    top: 3.5vw;
    animation: head 2s infinite alternate;
}
.chuzhak img:nth-child(2){
	width: 20vw;
	position: absolute;
	z-index: 17;
}
@keyframes cloudL {
  0% {
  	transform: translate(2px, 0px);
  	transform: rotate(1deg);
  }
  50% {
    transform: translate(0px, 7px);
    transform: rotate(-1deg);
  }
  100% {
  	transform: translate(1px, 0px);
  	transform: rotate(2deg);
  }
}

@keyframes cloudR {
  0% {
  	transform: translate(2px, 0px);
  	transform: rotate(-1deg);
  }
  50% {
    transform: translate(0px, 7px);
    transform: rotate(1deg);
  }
  100% {
  	transform: translate(1px, 0px);
  	transform: rotate(-2deg);
  }
}

@keyframes shadow {
  from {
    box-shadow: 0 0 37px 5px white;
  }
  to {
    box-shadow: 0 0 55px 10px white;
  }
}

@keyframes shadow_two {
  from {
    box-shadow: 0 0 0px 0px white;
  }
  to {
    box-shadow: 0 0 10px 10px white;
  }
}

@keyframes shadow_big {
  from {
    box-shadow: 0 0 0px 0px white;
  }
  to {
    box-shadow: 0 0 90px 50px white;
    transform: rotate(90deg);
  }
}

@keyframes bounce {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(0px, 5px);
  }
}

@keyframes square_bounce3 {
	0% {
		transform: translateY(2.5px);
	}
}
@keyframes square_bounce1 {
	0% {
		transform: translateY(5px);
	}

}
@keyframes square_bounce2 {
	0% {
		transform: translateY(10px);
	}

}
@keyframes head {
	0% {
		transform: rotate(9deg);
	}
	100% {
		transform: rotate(-9deg);
	}
}